.container {
  margin: 30px auto;
  padding: 0 30px;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.top__img {
  margin-bottom: 30px;
}

.top__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 90px;
  padding: 0;
  list-style-type: none;
}

.top__wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: calc(100% / 3 - 30px);
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom__img {
  margin-bottom: 30px;
}

.bottom__left,
.bottom__right {
  max-width: calc(50% - 60px);
}

.bottom__left-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bottom__left-item {
  display: flex;
  gap: 30px;
}

.bottom__left-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.bottom__left-title,
.bottom__right-title {
  margin-bottom: 30px;
}

.bottom__right-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

